.fixture-container {
    margin: 4rem;
    padding: 1rem;
    background-color: rgba(43, 43, 43, 1.0);
    border-radius: 16px;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.5);
    border: 5px solid #929292;
}
  
/* Header */
.header {
    background-color: rgba(0, 255, 255, 0);
    
}
  
.competition-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
  
.competition-name {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
 
}
  
.round {
    font-size: 16px;
    color: #ffffff;

}
  
 /* Match Info */
.match-info {
    border-top: 1px solid #444444;
    padding: 10px 20px;
    
 
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

  
.date {
    font-size: 16px;
    color: #ffffff;
}
.stadium {
    margin-left: 2rem;
    font-size: 16px;
    color: #ffffff;
}
.referee {
    margin-left: 2rem;
    font-size: 16px;
    color: #ffffff;
}
  
  
/* Scorecard */
.scorecard {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    border-top: 1px solid #444444;

    margin-bottom: 20px;
}

.away-data{
    padding-right: 10px;
}


.team-home{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.team-away{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
  
.team-logo img {
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
   
}
.team-name-home {
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
}
  
.team-name-away {
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
    padding-left: 5%;
}
  
.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 500;
    color: #ffffff;
}
  
.final {
    color: #146d47;
    font-size: 16px;
    margin-top: 5px;
}
  
/* Goal Scorers */
.goal-scorers {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-scorers {
    font-size: 14px;
    
}
.away-scorers {
    font-size: 14px;
    padding-left: 40%;
    
}
  
.scorer {
    margin-bottom: 5px;
    color: #ffffff;
}
  