/* Container for the events */
.event-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 4rem;
    gap: 20px;
}
.home-events, .away-events{
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 16px;
    background-color: rgba(43, 43, 43, 1.0);
}

.home-events {
    border-left: 5px solid #007BFF;
}

.away-events {
    border-right: 5px solid #FF5733;
}


/* Header Styling */
h2 {
    font-size: 50px;
    text-align: center;
    color: #146d47;
}

/* Styling for team event containers */
.team-events {
    margin-bottom: 40px;
    
}

/* Team name section */
.team-events h3 {
    font-size: 1.5rem;
    text-align: center;
    color: #ffffff;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}

/* List styling */
.events-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* Individual event items */
.event-item {
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 4px;
    border-radius: 10px;
    border: 3px solid #929292;
}

/* Event time styling */
.event-time {
    font-size: 20px;
    color: #146d47;
    margin-right: 20px;
    font-weight: bold;
}

/* Event description styling */
.event-description {
    font-size: 1rem;
    color: #f3eeee;
}

.in-event {
    color: rgb(19, 248, 19);
}

.out-event {
    color: red;
}

.goal{
    color: green;
}
.st{
    color: #97999c;
}