/* Centering the Card */
.stats-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Card Styling */
.stats-card {
    margin: 4rem;
    width: 90%;
    background-color: rgba(43, 43, 43, 1.0);
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    color: white;
    border-left: 5px solid #007BFF;
    border-right: 5px solid #FF5733;
}

/* Team Names and Logos */
.team-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgba(43, 43, 43, 1.0);
    border-radius: 8px;
    margin-bottom: 15px;
}

.team {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.team img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

/* "VS" Text Styling */
.vs {
    font-size: 20px;
    font-weight: bold;
    color: #ff4d4d;
}

/* Table Styling */
.team-statistics table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.team-statistics th, .team-statistics td {
    padding: 10px;
    border-bottom: 1px solid #5c5959;
    background-color: rgba(43, 43, 43, 1.0);

}

.team-statistics th {
    background: #5c625f;
    color: white;
    font-weight: 500;
    font-size: 24px;
}