.lineup-title {
    font-size: 50px;
    text-align: center;
    color: #146d47;
}

.lineup-container {
    display: flex;
    text-align: center;
    margin: 3rem;
}

/* Layout for Lineups */
.lineup {
    font-size: 20px;
    color: white;
    width: 45%;
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(43, 43, 43, 1.0);
}

/* Separate Home and Away Teams */
.home-team {
    border-left: 5px solid #007BFF;
}

.away-team {
    border-right: 5px solid #FF5733;
}


/* Team Logo */
.team-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

/* Coach Section */
.coach-info {
    font-size: 20px;
    margin-top: 8px;
}

.coach-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 5px;
    border: 4px solid #146d47
}


.formation{
    padding-top: 10px;
    border: 3px solid #929292;
    border-radius: 10px;
    font-size: 20px;
    color: #146d47;
}

/* Players List */
.players-list {
   color: white;
   list-style-type: none;
}

.players-list li {
    padding: 8px;
    font-size: 16px;
}

.substitutes{
    color: #146d47;
    border-radius: 10px;
    border: 3px solid #929292;
    margin-top: 8px;
    padding-top: 10px;
    font-size: 20px;
}

.players-sub{
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.players-sub li{
    font-size: 14px;
    padding: 5px;
    list-style-type: none;

    
}