.lineup-title {
    font-size: 3rem;
    text-align: center;
    color: #0bec8c;
}

.lineup-container {
    display: flex;
    text-align: center;
    margin: 3rem;
}

/* Layout for Lineups */
.lineup {
    font-size: 20px;
    color: white;
    width: 45%;
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(43, 43, 43, 1.0);
}

/* Separate Home and Away Teams */
.home-team {
    border-left: 5px solid #007BFF;
}

.away-team {
    border-right: 5px solid #FF5733;
}


/* Team Logo */
.lineup-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

/* Coach Section */
.coach-info {
    font-size: 20px;
    margin-top: 8px;
}

.coach-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 5px;
    border: 4px solid #146d47
}


.formation{
    padding-top: 10px;
    border: 3px solid #929292;
    border-radius: 10px;
    font-size: 20px;
    color: #146d47;
}

/* Players List */
.players-list {
   color: white;
   list-style-type: none;
}

.players-list li {
    padding: 8px;
    font-size: 16px;
}

.substitutes{
    color: #146d47;
    border-radius: 10px;
    border: 3px solid #929292;
    margin-top: 8px;
    padding-top: 10px;
    font-size: 20px;
}

.players-sub{
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.players-sub li{
    font-size: 14px;
    padding: 5px;
    list-style-type: none;

    
}

@media screen and (max-width: 1024px) {
    .lineup-title {
        font-size: 2.5rem;
    }

    .lineup-container {
        gap: 2rem;
   
    }

    .lineup {
        width: 100%;
        margin: 20px 0;
    }

    .players-sub {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .lineup-title {
        font-size: 2rem;
    }

    .lineup-container {
        flex-direction: column;
        gap: 2rem;
    }

    .lineup-logo {
        width: 36px;
        height: 36px;
    }

    .lineup {
        width: 96%;
        margin: 15px 0;
    }

    .coach-info, .formation, .substitutes {
        font-size: 16px;
    }

    .players-list li {
        font-size: 12px;
    }

    .players-sub li {
        font-size: 12px;
    }
}



@media screen and (max-width: 480px) {
    .lineup-title {
        font-size: 1.5rem;
    }

    .lineup-container {
        flex-direction: column;
        margin: 1.5rem;
    }

    .lineup-logo {
        width: 32px;
        height: 32px;
    }

    .lineup {
        width: 92%;
        margin: 10px 0;
        padding: 15px;
        font-size: 12px;
    }

    .coach-info, .formation, .substitutes {
        font-size: 12px;
    }

    .players-list li {
        font-size: 10px;
        padding: 6px;
    }

    .players-sub {
        flex-direction: column;
        align-items: center;
    }

    .players-sub li {
        font-size: 10px;
        padding: 4px;
    }
}
