/* TEAMS */

.team-head {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: white;
}
  
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1.5rem;
}
  
.list-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 150px; 
  padding: 15px;
  object-fit: contain;
  gap: 16px;
}

.team-img {
  aspect-ratio: 1;
  object-fit: contain;
}
.name {
  font-size: 15px;
  color: #ffffff;
}

.btn1 {
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #040404;
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px #ffffffde;
}
  
.btn1:active {
  background-color: #146d47;
  transform: translateY(3px);
}