{% block content %}
<h2>Match Events</h2>
<div class="event-grid">
  <div class="home-events">
      <div class="team-events">
          <h3>{{ fixture.teams.home.name }}</h3>
          <ul class="events-grid">
            {% for event in fixture.events %}
              {% if event.team.id == fixture.teams.home.id %}
                <li class="event-item">
                  <span class="event-time">
                    {% if event.time.extra %}
                      {{ event.time.elapsed }}+{{ event.time.extra }}'
                    {% else %}
                      {{ event.time.elapsed }}'
                    {% endif %}
                  </span>

                  <div class="event-description">
                    {% if event.type == "Goal" %}
                        <strong class="st">Scorer:</strong> {{ event.player.name }}
                        <br>
                        {% if event.assist %}
                            <strong class="st">Assist:</strong> {{ event.assist.name }}
                        {% endif %}
                    {% elif event.type == "subst" %}
                        <strong class="in-event">In:</strong> {{ event.player.name }}
                        <br>
                        <strong class="out-event">Out:</strong> {{ event.assist.name }}
                    {% else %}
                        <strong class="st">Player:</strong> {{ event.player.name }}
                    {% endif %}
                    <br>
                    <strong class="st">Type:</strong> {{ event.type }}
                    <br>
                    <strong class="st">Detail:</strong> {{ event.detail }}
                  
                    {% if event.comments %}
                      ({{ event.comments }})
                    {% endif %}
                </div>
                
                </li>
              {% endif %}
            {% endfor %}
          </ul>
      </div>
  </div>
  <div class="away-events">
      <div class="team-events">
          <h3>{{ fixture.teams.away.name }}</h3>
          <ul class="events-grid">
            {% for event in fixture.events %}
              {% if event.team.id == fixture.teams.away.id %}
                <li class="event-item">
                  <span class="event-time">
                    {% if event.time.extra %}
                      {{ event.time.elapsed }}+{{ event.time.extra }}'
                    {% else %}
                      {{ event.time.elapsed }}'
                    {% endif %}
                  </span>

                  <div class="event-description">
                    {% if event.type == "Goal" %}
                        <strong class="st">Scorer:</strong> {{ event.player.name }}
                        <br>
                        {% if event.assist %}
                            <strong class="st">Assist:</strong> {{ event.assist.name }}
                        {% endif %}
                    {% elif event.type == "subst" %}
                        <strong class="in-event">In:</strong> {{ event.player.name }}
                        <br>
                        <strong class="out-event">Out:</strong> {{ event.assist.name }}
                    {% else %}
                        <strong class="st">Player:</strong> {{ event.player.name }}
                    {% endif %}
                    <br>
                    <strong class="st">Type: </strong>{{ event.type }}
                    <br>
                    <strong class="st">Detail:</strong> {{ event.detail }}
                  
                    {% if event.comments %}
                      ({{ event.comments }})
                    {% endif %}
                </div>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
      </div>
  </div>
</div>
{% endblock %}