{% block content %}
<!-- Lineups Section -->
<h2 class="lineup-title">Lineups</h2>

<div class="lineup-container">

    <!-- Home Team Lineup -->
    <div class="lineup home-team">
        <h3>
            <img src="{{ fixture.teams.home.logo }}" alt="{{ fixture.teams.home.name }}" class="team-logo">
            {{ fixture.teams.home.name }} ({{ fixture.lineups.0.formation }})
        </h3>

        <p class="coach-info">
            <strong>Coach:</strong> {{ fixture.lineups.0.coach.name }}<br>
            <img src="{{ fixture.lineups.0.coach.photo }}" alt="Coach Photo" class="coach-photo">
        </p>

        <div class="formation">
            <h4>Starting XI</h4>
            <ul class="players-list">
                {% for player in fixture.lineups.0.startXI %}
                    <li>
                    🙎🏻‍♂️{{ player.player.name }} (#{{ player.player.number }}) ({{ player.player.pos }})
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="substitutes">
            <h4>Substitutes</h4>
            <ul class="players-sub">
                {% for sub in fixture.lineups.0.substitutes %}
                    <li>
                        {{ sub.player.name }}(#{{ sub.player.number }})({{ sub.player.pos }}),
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Away Team Lineup -->
    <div class="lineup away-team">
        <h3>
            <img src="{{ fixture.teams.away.logo }}" alt="{{ fixture.teams.away.name }}" class="team-logo">
            {{ fixture.teams.away.name }} ({{ fixture.lineups.1.formation }})
        </h3>

        <p class="coach-info">
            <strong>Coach:</strong> {{ fixture.lineups.1.coach.name }}<br>
            <img src="{{ fixture.lineups.1.coach.photo }}" alt="Coach Photo" class="coach-photo">
        </p>

        <div class="formation">
            <h4>Starting XI</h4>
            <ul class="players-list">
                {% for player in fixture.lineups.1.startXI %}
                    <li>
                    🙎🏻{{ player.player.name }} (#{{ player.player.number }}) ({{ player.player.pos }})
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="substitutes">
            <h4>Substitutes</h4>
            <ul class="players-sub">
                {% for sub in fixture.lineups.1.substitutes %}
                    <li>
                        {{ sub.player.name }}(#{{ sub.player.number }})({{ sub.player.pos }}),
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
