{% block content %}
<!-- Lineups Section -->
<div class="abc">
<h2>Lineups</h2>
</div>
{% for team_lineup in fixture.lineups %}
    <div class="bc">
        <h3>
            {{ team_lineup.team.name }} ({{ team_lineup.formation }})
            <img src="{{ team_lineup.team.logo }}" alt="{{ team_lineup.team.name }}" width="50">
        </h3>

        <!-- Coach Details -->
        <p>
            <strong>Coach:</strong> {{ team_lineup.coach.name }}<br>
            <img src="{{ team_lineup.coach.photo }}" alt="Coach Photo" width="50">
        </p>

        <!-- Starting XI -->
        <h4>Starting XI</h4>
        <ul>
            {% for player in team_lineup.startXI %}
                <li>
                    {{ player.player.name }} (#{{ player.player.number }} | {{ player.player.pos }} Grid: {{ player.player.grid }})
                </li>
            {% endfor %}
        </ul>

        <!-- Substitutes -->
        <h4>Substitutes</h4>
        <ul>
            {% for sub in team_lineup.substitutes %}
                <li>
                    {{ sub.player.name }} (#{{ sub.player.number }} | {{ sub.player.pos }})
                </li>
            {% endfor %}
        </ul>
    </div>


{% endfor %}
{% endblock %}