{% extends 'base.html' %}

{% block title %}Players{% endblock title %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/players.css' %}">
{% endblock %}

{%block content%}
<h1 class="player-head">Squad List📃</h1>

{% if team_data %}
<div class="team-logo">
    <img src="{{ team_data.team.logo }}" alt="{{ team_data.team.name }} Logo">
    <p>{{ team_data.team.name }}</p>
</div>

<div class="players">
    {% for player in team_data.players %}
    <div class="pl-data">
        <img src="{{ player.photo }}" alt="{{ player.name }}" class="pl-img">

        <div class="pl-info">   
            <p>{{ player.name }}</p>
            <p>{{ player.position }}</p>
            <p>({{ player.number }})</p>
        </div>

    </div>
    {% endfor %}
</div>
{% else %}
<p>No data available for this team.</p>
{% endif %}

{%endblock%}